.banner {
    width: 100%;
    max-width: 1280px;
    max-height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.banner p {
    line-height: 700em;

}