/*@media only screen and (max-width: 400px) {
    .banner {
        width: 30%;
    }
  }
  
  /* Tablet Styles */
  /*@media only screen and (min-width: 401px) and (max-width: 960px) {
    .banner {
        width: 50%;
    }
  }
  
  /* Desktop Styles */
 /* @media only screen and (min-width: 961px) {
   
    }
  }*/

  .card-information {
    background-color: #f8f9fa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 10%;
  }

  .card {
    width: 100%;
    padding: 0;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-information .card img{
    width: 62%;
    display: block;
  }

  .card-information .card-texto {
    width: 100%;
    border-left: solid .55rem #64a19d;
    padding-left: 1.2rem;
  }



  .card-information .card-esc {
    width: 100%;
    background-color: #212529;
    padding: 0;
    color: #898989;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .card-information .card-esc img{
    width: 50%;
    display: block;
  }

  .card-information .card-esc .frame-card-texto {
    width: 100%;
    padding: 5%;
    border-bottom: solid .55rem #64a19d;
    
    justify-content: flex-start;
    
  }

  .dir {
    line-height: 0.5rem;
    padding-left: 2rem;
  }

  .esq {
    line-height: 0.75rem;
    justify-content: flex-end;
  }