
.cabeca {
    width: 100%;
    height: 35rem;


    background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 75%,#161616 100%),url('../assents/bg-masthead.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #d4d1d1;
}

.cabeca-nav {
    width: 100%;
    height: 4rem;
    padding: 0 0 0 1em;
    transition: background-color 0.3s ease-in-out;

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fundoBranco {
    background-color: #FFF;
    color: #898989;
}

.cabeca .nav a {
    padding: 2em;
    color: #d4d1d1;
}

.banner {
    width: 100%;
    height: 31rem;
    display: flex;
    flex-wrap: wrap;
}

.center-items-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Varela Round', Arial, sans-serif;
    text-transform: uppercase;
    
    background: -webkit-linear-gradient(#eee, #4e4e4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.texto-banner {
    padding: 2rem;
}

.banner .btn-bunner {
    font-size: .8rem;
    margin: 0;
    padding: .7rem 2rem .7rem 2rem;
    background-color: #64A19D;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    border-radius: .3rem;
    max-width: 10rem;

}