.cabeca {
    width: 100%;
    max-width: 1280px;
    height: 5em;
    background-size: cover;
    padding: 0 0 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(255,255,255,.5);
}

.cabeca .nav a {
    padding: 2em;
    color: rgba(255,255,255,.5);

}